/* Estilos Generales ---------------------------------*/
/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Icon bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Estilos Generales -----------------------------*/

/* Estilos Dylan */
.tituloNavbar {
  font-family: "Black Han Sans";
}

.logoNavbar {
  font-size: 2.2rem;
}

.nav-item {
  margin-right: 25px;
}

.tituloFooter {
  font-family: "Black Han Sans";
  color: #ffff;
  font-size: 2.2rem;
}

/* Pagina de extravios */

.tituloPrincipal {
  font-family: "Roboto";
  font-weight: 900;
}

.parrafoPrincipal {
  text-align: justify;
}

.imagenPrincipal:hover {
  filter: brightness(60%);
}

.extravioAcordeones {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(39%2c 112%2c 158%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c424.935C76.64%2c405.899%2c114.516%2c323.209%2c175.373%2c272.885C227.183%2c230.043%2c298.863%2c210.208%2c331.05%2c151.185C364.088%2c90.603%2c360.568%2c17.865%2c351.767%2c-50.576C342.863%2c-119.815%2c318.623%2c-184.546%2c280.366%2c-242.939C237.651%2c-308.136%2c194.7%2c-386.635%2c119.118%2c-405.677C43.699%2c-424.678%2c-27.239%2c-367.569%2c-99.429%2c-338.625C-164.376%2c-312.585%2c-233.461%2c-294.714%2c-282.394%2c-244.696C-333.043%2c-192.924%2c-374.333%2c-126.644%2c-377.595%2c-54.29C-380.758%2c15.866%2c-320.675%2c69.831%2c-299.592%2c136.819C-274.409%2c216.834%2c-302.457%2c318.405%2c-241.995%2c376.551C-181.477%2c434.751%2c-81.486%2c445.175%2c0%2c424.935' fill='%231c5172'%3e%3c/path%3e%3cpath d='M1440 1264.191C1570.248 1249.8110000000001 1620.282 1082.829 1728.753 1009.309 1833.262 938.4739999999999 2001.808 955.137 2060.7219999999998 843.4739999999999 2119.294 732.46 2056.2690000000002 594.46 2008.972 478.194 1969.106 380.195 1876.07 321.647 1813.684 236.20100000000002 1743.703 140.35399999999998 1733.107-17.196000000000026 1620.32-54.11500000000001 1508.164-90.827 1408.629 34.29899999999998 1295.08 66.44799999999998 1179.942 99.04700000000003 1032.757 48.959 950.2239999999999 135.60700000000003 868.008 221.92200000000003 894.881 363.091 899.05 482.223 902.624 584.358 938.844 676.998 972.547 773.479 1009.896 880.3969999999999 1029.027 995.933 1107.143 1077.9360000000001 1196.65 1171.897 1311.0140000000001 1278.431 1440 1264.191' fill='%23328fca'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* Pagina de extravios */

/* Estilos Emir - para el  Index */
/* hover enlaces */
.enlaces-efecto {
  transition: 0.3s;
}
.enlaces-efecto:hover {
  opacity: 0.8;
}
/* carrusel responsive*/
.imagenes-carrusel {
  height: 450px;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .imagenes-carrusel {
    height: 450px;
  }
}

/* cards responsive */
@media screen and (max-width: 767px) {
  .tamaño-cards {
    height: 140px;
  }
}
